html {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: #cdd6f4;
  background: linear-gradient(to top, #94e2d5, #11111b),
    linear-gradient(to right, #cba6f7, #11111b);
  background-blend-mode: screen;
}

body {
  background-color: #181825;
  border-radius: 20px;
  margin: 5%;
  padding: 30px;
}

div {
  background-color: #1e1e2e;
  border-radius: 10px;
  margin: 30px 0 0 0;
  padding: 30px;
  overflow: auto;
}

h1 {
  font-size: 64px;
  text-align: center;
  margin: 0 0 40px 0;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  margin: 0 0 28px 0;
}

p,
ul {
  line-height: 2;
  max-width: 75%;
}

img {
  width: 300px;
  max-width: 75%;
}

table {
  border-collapse: collapse;
  border: 5px solid #cdd6f4;
  margin: 0 0 0 20px;
}

td,
th {
  border: 3px solid #cdd6f4;
  padding: 10px 20px;
  text-align: center;
}

th {
  background-color: #45475a;
}

tr:nth-child(even) td {
  background-color: #45475a;
}

tr:nth-child(odd) td {
  background-color: #585b70;
}

caption {
  padding: 10px;
}

a {
  color: #89b4fa;
}

a:visited {
  color: #cba6f7;
}
