html {
  background: linear-gradient(to top, #94e2d5, #11111b),
    linear-gradient(to right, #cba6f7, #11111b);
  background-blend-mode: screen;
  color: #cdd6f4;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 5%;
  border-radius: 20px;
  background-color: #181825;
  padding: 30px;
}

div {
  margin: 30px 0 0 0;
  border-radius: 10px;
  background-color: #1e1e2e;
  padding: 30px;
  overflow: auto;
}

h1 {
  margin: 0 0 40px 0;
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 0 0 28px 0;
  font-size: 24px;
}

img {
  width: 300px;
  max-width: 100%;
}

table {
  margin: 0 0 10px 20px;
  border: 5px solid #cdd6f4;
  border-collapse: collapse;
}

td,
th {
  border: 3px solid #cdd6f4;
  padding: 10px 20px;
  text-align: center;
}

th {
  background-color: #45475a;
}

tr:nth-child(even) td {
  background-color: #45475a;
}

tr:nth-child(odd) td {
  background-color: #585b70;
}

caption {
  padding: 10px;
}

a {
  color: #89b4fa;
}

a:visited {
  color: #cba6f7;
}

button {
  transition-duration: 0.6s;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  background-color: #1e1e2e;
  padding: 15px;
  color: #cdd6f4;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}
button:hover {
  background-color: #94e2d5;
  color: #11111b;
}
